.venv
test.py
cached_books/
editifi/
nltk_tryout.py
__pycache__/
analysis_local.py
sl.py
hhhh/
mini_storage/
.env
ad_analysis.py
new-l.py
uorya/
analysis-v2.py
search_book.py
reporting.py
tba.py
ttt.py
test_ttt.py
analysis.py
analysis-v2.py
scraping-v2.py
test_funcs.py
n_fold/
onlyana.py
books_test/
s_loc.py
sample_texts/
old_files/